@import
	url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap')
	;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

body {
	background-color: #212529;
	font-size: 1.3rem;
	font-weight: 500;
}

.container {
	background-color: #fff;
	color: black;
	border-radius: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: 'Signika', sans-serif;
	max-width: 600px;
	color: black;
}

.question-label {
	background: linear-gradient(180deg, hsla(0, 0%, 100%, .5),
		hsla(0, 0%, 100%, 0)), rgba(0, 0, 0, .1);
	padding: 5px 20px;
	border-radius: 20px;
	display: inline-block;
}

.container>p {
	font-size: 32px
}

.question {
	width: 75%
}

.options {
	position: relative;
	padding-left: 40px
}

#options label {
	display: block;
	margin-bottom: 15px;
	font-size: 14px;
	cursor: pointer
}

.options input {
	opacity: 0
}

.checkmark {
	position: absolute;
	top: -1px;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: white;
	border: 3px solid #555;
	border-radius: 50%
}

.options input:checked ~.checkmark:after {
	display: block
}

.options .checkmark:after {
	content: "";
	width: 10px;
	height: 10px;
	display: block;
	background: white;
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: 300ms ease-in-out 0s
}

.options input[type="radio"]:checked ~.checkmark {
	background: #2b3647;
	transition: 300ms ease-in-out 0s
}

.options input[type="radio"]:checked ~.checkmark:after {
	transform: translate(-50%, -50%) scale(1)
}

.options input[type="checkbox"]:checked ~.checkmark {
	background: #2b3647;
	transition: 300ms ease-in-out 0s
}

.options input[type="checkbox"]:checked ~.checkmark:after {
	transform: translate(-50%, -50%) scale(1)
}

.btn-primary {
	background-color: #212529;
	color: #ddd;
	font-size: 1rem;
	font-weight: 700;
	border: 1px solid #ddd
}

.btn-primary:hover {
	color: #ffc000;
	background-color: #2b3647;
	border-color: #2b3647;
}


.btn-next {
	padding: 5px 25px;
	background-color: #ffc000;
	border-color: #ffc000;
	color: #2b3647;
	font-size: 1rem;
	font-weight: 700;
}

.btn-next:hover {
	background-color: #2b3647;
	border-color: #2b3647;
	color: #ffc000;
}

@media ( max-width :576px) {
	.question {
		width: 100%;
		word-spacing: 2px
	}
}