@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: #333
}

body {
	background-color: #212529;
	font-size: 1.3rem;
	font-weight: 500;
}

.container {
	background-color: #fff;
	color: black;
	border-radius: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: 'Signika', sans-serif;
	max-width: 700px;
	color: black;
}

.btn-primary {
	background-color: #212529;
	color: #ddd;
	font-size: 1rem;
	font-weight: 700;
	border: 1px solid #ddd
}

.btn-primary:hover {
	color: #ffc000;
	background-color: #2b3647;
	border-color: #2b3647;
}


.btn-next {
	padding: 5px 25px;
	background-color: #ffc000;
	border-color: #ffc000;
	color: #2b3647;
	font-size: 1rem;
	font-weight: 700;
}

.btn-next:hover {
	background-color: #2b3647;
	border-color: #2b3647;
	color: #ffc000;
}

.table{
    width: 80%;
}