@import
	url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap')
	;

body {
	background-color: #212529;
}

.container {
	background-color: #fff;
	color: black;
	border-radius: 10px;
	padding: 20px;
	font-family: 'Signika', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	max-width: 700px
}

.btn-next {
	padding: 5px 25px;
	background-color: #ffc000;
	border-color: #ffc000;
	color: #2b3647;
	font-size: 1.5rem;
	font-weight: 700;
	font-family: 'Noto Sans', 'Signika', sans-serif;
	border-radius: 20px;
}

.btn-next:hover {
	background-color: #2b3647;
	border-color: #2b3647;
	color: #ffc000;
}
