/*========= NAVBAR ============*/
.navbar-nav a{
    font-family: 'Noto Sans','Signika', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}

.admin-nav .nav-item:hover .nav-link{
    color: var(--yellow) !important;
}

.user-nav .nav-item{
    margin-left: 1rem;
}

.btn-yellow{
    background: var(--yellow);
    border-radius: 20px;
    color: var(--dark-blue) !important;
}

.btn-yellow:hover{
    background: var(--dark-blue) ;
    color: var(--yellow) !important;
}

@media (max-width:992px){
    .user-nav .nav-item{
        margin: 0;
    }
    .user-nav .btn{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}