* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-color: rgb(248, 249, 240);
  border-radius: 30px;
}

body {
  background-color: #2b3647;
}

.btn-register {
  background-color: #ffc000;
  color: #2b3647;
  font-size: 20px !important;
  font-weight: 700 !important;
}
.btn-primary {
  border: none;
}

.rounded-left {
  border-top-left-radius: 30px !important;
  border-bottom-left-radius: 30px !important;
  border-top-right-radius: 0% !important;
  height: 550px;
  width: 90%;
}

.btn-gg {
  background-color: #d34836;
}

.google-plus {
  background: #db4c3e;
  border: 1px solid #db4c3e;
}

.account {
  background-color: #2b3647;
}

.hint {
  font-size: 15px !important;
  color: darkgray;
}



@media (max-width: 992px) {
  .margin-left {
    margin-left: 5px;
  }

  .img-for-login {
    width: 100%;
  }

  .rounded-left {
    width: 100% !important;
    border-top-left-radius: 30px !important;
    border-top-right-radius: 30px !important;
    border-bottom-left-radius: 0% !important;
    height: 550px;
  }

  .col-lg-5{
    padding-right: 0%;
  }
}
