.title-container{
    height: 50px;
    background-color: rgb(221, 221, 221);
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
h5{
    margin-left: 10px;
    padding-top: 10px;
}
.form-input{
    margin-top: 20px;
    margin-left: 7%;
    margin-bottom: 10px;
    width:86%;
}
.link-href{
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 5%;
}
.button-icon{
    background-image:url('../picture/usericon.png');
    width: 40px;
    height: 30px;
}

.icon-imag{
    width: 15px;
    height: 15px;
}
.icon-search{
    width: 20px;
    height: 20px;
}
.navbar{     
    background-color: rgb(235, 235, 235) !important;
    border-bottom: 2px solid rgb(211, 211, 211) ;
}
.nav-col{
 margin-top: 5px;
 font-size: 17px;
 border-bottom: 1px solid rgb(197, 197, 197) ;
}
h2{
    margin-top: 20px;
}
.list-group-item-secondary{
    border-top-right-radius:8px !important;
    border-top-left-radius:8px !important;
}
label{
    margin-top: 5px;
    margin-bottom: 0px;
    font-weight: 500;
}
.dropdown-toggle{
    padding-top: 0px;
    padding-bottom: 0px;
}
.justify-content-between{
    height: 40px;
    padding-top: 0px;
}
.table-bordered{
    width: 100%;
    margin-top: 20px;
}
.lable-check{
    color: red;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px ;
    font-weight: 3px;
}
label.error {
    color: red;
    font-size: 13px;
    font-style: italic;
}
span{
    color: red;
    font-size: 13px;
    font-style: italic;
}