<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel='stylesheet' type='text/css'
	th:href='@{/css/doQuiz/doQuiz.css}'>
<title>[[${nameQuiz}]]</title>
</head>
<body>
	<form th:action="@{/result}" th:object="${questRequest}" method="POST">
		<input type="hidden" th:name="quizId" th:value="${idQuiz}">
		<th:block th:if="${questResponse}" th:each="item, i: ${questResponse}">
			<div class="container mt-sm-5 my-1">
				<div class="question mx-auto pt-3">
					<div class="py-2 h5 question-label mb-4">
						<b>Question [[${i.index +1}]].</b> &ensp; [[${item.content}]]
					</div>
					<input type="hidden" th:value="${item.id}"
						th:name="|questions[${i.index}].id|"> <input type="hidden"
						th:value="${item.type}" th:name="|questions[${i.index}].type|">
					<div th:if="${item.type == 1}">
						<div class="ml-md-3 ml-sm-3  pt-sm-0 pt-3" id="options">
							<input type="text" class="form-control"
								th:name="|questions[${i.index}].answers[${0}].content|">
						</div>
					</div>
					<div th:if="${item.type == 2}">
						<div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
							<th:block th:if="${item.answers}"
								th:each="answer, j:${item.answers}">
								<label class="options">[[${answer.content}]] <input
									type="radio" th:value="${answer.id}"
									th:name="|questions[${i.index}].answers[${0}].id|"> <span
									class="checkmark"></span>
								</label>
							</th:block>
						</div>
					</div>
					<div th:if="${item.type == 3}">
						<div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
							<th:block th:if="${item.answers}"
								th:each="answer, j:${item.answers}">
								<label class="options">[[${answer.content}]] <input
									type="checkbox" th:value="${answer.id}"
									th:name="|questions[${i.index}].answers[${j.index}].id|">
									<span class="checkmark"></span>
								</label>
							</th:block>
						</div>
					</div>
				</div>
				<div class="d-flex align-items-center pt-3">
					<div class="ml-auto mr-sm-1">
					</div>
				</div>
			</div>
		</th:block>

		<div class="container mt-sm-5 my-1" style="background-color: #212529;">
			<div class="d-flex align-items-center ml-2">
				<div class="mr-sm-5 ml-1">
					<a th:href='@{|/prepare-quiz?quizId=${idQuiz}|}'><button
							type="button" class="btn btn-primary">Previous</button></a>
				</div>
				<div class="mr-sm-5">
					<h4 style="font-family: 'sans-serif'; color: #ddd !important;">GOOD LUCK
						TO YOU</h4>
				</div>
				<div class="mr-sm-5">
					<button type="submit" class="btn btn-next">Next</button>
				</div>
			</div>
		</div>
	</form>
</body>
</html>