<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel='stylesheet' type='text/css' th:href='@{/css/doQuiz/resultQuiz.css}'>
<title>Result</title>
</head>
<body>
	<div class="container mt-sm-5 my-1 pl-5 pr-5">
		<h3 class="text-center mb-4">Quiz Result</h3>
		<table class="table mx-auto">
			<tr>
				<td>Total Question</td>
				<td th:text="${result.totalQuestion} ?: '0'"></td>
			</tr>
			<tr>
				<td>Attempt</td>
				<td th:text="${result.attempt} ?: '0'"></td>
			</tr>
			<tr>
				<td>Correct</td>
				<td th:text="${result.correct} ?: '0'"></td>
			</tr>
			<tr>
				<td>Wrong</td>
				<td th:text="${result.wrong} ?: '0'"></td>
			</tr>
			<tr>
				<td>Your Total Score</td>
				<td th:text="${result.totalScore} ?: '0.0'"></td>
			</tr>
		</table>
		<input type="hidden" th:name="quizId" th:value="${idQuiz}" >
		<div class="d-flex align-items-center pt-3">
			<div id="prev">
				<a th:href='@{|/prepare-quiz?quizId=${idQuiz}|}'><button class="btn btn-primary">Try Again</button></a>
			</div>
			<div class="ml-auto">
				<a th:href='@{/index}'><button class="btn btn-next">Go to home</button></a>
			</div>
		</div>
	</div>

</body>
</html>