<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css"
	integrity="sha512-xnwMSDv7Nv5JmXb48gKD5ExVOnXAbNpBWVAXTo9BJWRJRygG8nwQI81o5bYe8myc9kiEF/qhMGPjkSsF06hyHA=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel='stylesheet' type='text/css'
	th:href='@{/css/doQuiz/totalQuestion.css}'>
<title>[[${nameQuiz}]]</title>
</head>
<body>

	<div class="container mt-sm-5 my-1">
		<h3>[[${nameQuiz}]]</h3>
		<p>
			Total number of question: <b>[[${totalQuestion}]]</b>
		</p>
		<div class="ml-auto mr-sm-5">
			<a th:href='@{|/do-quiz?quizId=${idQuiz}|}'><button
					class="btn btn-next">
					<b>Next</b> &nbsp;<i class="fa fa-arrow-right"
						aria-hidden="true"></i>
				</button></a>
		</div>
	</div>
</body>
</html>