
.btn-create{
    background-color: rgb(255, 217, 0);
    font-size: 22px;
    font-weight: 700;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    border-width:3px;
    border-color: rgb(255, 208, 0);
}
.btn-create:hover{
    background-color: rgb(255, 232, 28);
}
.btn-create:active{
    border-width:0px;
    outline: 0 !important;
   background-color: rgb(255, 187, 0);
   color:rgb(0, 0, 0);
}
.btn-create:focus{
    outline: 0 !important;  
}
.fill-created{
    outline: 0 !important;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-bottom-color: rgb(252, 217, 103);
    font-size: 20px;
    font-family: cursive;
}
.fill-created:focus{
    outline: 0 !important;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 3px;
    border-bottom-color: rgb(255, 153, 0);
}

.fill-choose{
    outline: 0 !important;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-bottom-color: rgb(252, 217, 103);
    font-size: 18px;

}
.fill-choose:focus{
    outline: 0 !important;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 3px;
    border-bottom-color: rgb(255, 153, 0);
}
.input-quest{
    border-color: rgb(207, 207, 207);
    border-width: 1px;
    border-radius: 5px;
    outline-color: rgb(255, 217, 0);
}
.input-quest-center{
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 153, 0);
    outline: 0 !important;
}
.input-answer{
    height:35px;
    border-color: rgb(207, 207, 207);
    border-width: 1px;
    border-radius: 5px;
    outline-color: rgb(255, 217, 0);
}
.inline-answer{
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}

.btn-add-answer{
    background-color: rgb(255, 217, 0);
    font-size: 20px;
    font-weight: 700;
    width: auto;
    height: 40px;
    border-radius: 8px;
    border-width:3px;
    border-color: rgb(255, 208, 0);
}
.btn-add-answer:hover{
    background-color: rgb(255, 230, 0);
}
.btn-add-answer:active{
    border-width:3px;
    outline: 0 !important;
   background-color: rgb(255, 187, 0);
   color:rgb(0, 0, 0);
}
.btn-add-answer:focus{
    outline: 0 !important;  
}
label{
	color:red !important;
    font-size: 13px;
    padding-left: 15%;
}