body {
	font-size: 18px !important;
	background-color: #f8f9fd;
}

.thead-tb {
	border: none;
	font-weight: 500;
	background-color : #99b19c;
	color: white;
	background-color: #99b19c;
}

table {
	width: 80% !important; border-collapse : collapse;
	border-spacing: 2px;
	padding-top: 2 rem !important;
	padding-bottom: 2 rem !important;
	border-collapse: collapse;
}

.col-tb-15 {
	width: 20%;
}

.col-tb-55 {
	width: 50%;
}

.col-tb-30 {
	width: 30%;
}

.btn-pa {
  background-color: #99b19c;
  color: white;
}
