:root{
    --yellow: #ffc000;
    --dark-blue: #2b3647;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body *:not(h2){
    font-family: 'Signika', sans-serif;
    font-size: 1.3rem;
}

.fix-width{
    max-width: 1465px;
}

/*========= NAVBAR ============*/
.navbar-nav a{
    font-family: 'Noto Sans','Signika', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}

.admin-nav .nav-item:hover .nav-link{
    color: var(--yellow) !important;
}

.user-nav .nav-item{
    margin-left: 1rem;
}

.btn-yellow{
    background: var(--yellow);
    border-radius: 20px;
    color: var(--dark-blue) !important;
}

.btn-yellow:hover{
    background: var(--dark-blue) ;
    color: var(--yellow) !important;
}

@media (max-width:992px){
    .user-nav .nav-item{
        margin: 0;
    }
    .user-nav .btn{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

/*======== CONTENT =========*/
main.content{
    background-color: #f9f9f9;
    padding: 2rem 0;
    min-height: 90vh;
}

.content-actionable > div{
    margin-bottom: 20px;
}

.container > div:not(.collapse){
    margin-left: 20px;
    margin-right: 20px;
}

#search-form{
    border: 2px solid rgba(0,0,0,.33);
    border-radius: 16px;
    background-color: #f4f4f5;
}

#search-form{
    width: 70%;
}

#search-form > .form-group:first-child{
    width: 80%;
}

#search-form input, #search-form button{
    font-size: 1.3rem;
}

#search-form input{
    border: none;
}

#search-form input, #search-form button{
    border-radius: 16px;
}

#btn-search{
    background-color: var(--yellow);
    color: var(--dark-blue);
}

#btn-search:hover{
    background-color: var(--dark-blue);
    color: var(--yellow);
}

.content-actionable .area{
    border-radius: 8px;
    padding: 30px 10px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
    width: 100%;
    height: 100%;
}

.user{
    background: linear-gradient(
        180deg,hsla(0,0%,100%,.5),hsla(0,0%,100%,0)),rgba(0,0,0,.1);
    padding: 5px 20px;
    border-radius: 20px;
    display: inline-block;
}

.score-area h2{
    font-size: 2.5rem;
}

.score-area > .score-advice{
    color:#73747e;
    font-weight: normal;
    font-style: italic;
    font-size: 1rem;
    margin-top: .6rem;
}

@media (max-width:992px){
    .container > div:not(.collapse){
        margin-left: 0px;
        margin-right: 0px;
    }

    .navbar-brand{
        margin-right: 0;
        padding: 0;
    }
}

/*======== CONTENT-LIST QUIZ =========*/
#list-quiz{
    margin-top: 10px;
}

#list-quiz > div{
    margin-bottom: 20px;
}

.img-area{
    border-radius: 50%/0 0 40px 40px;
    overflow: hidden;
}

.img-area{
    height: 200px;
}

.img-area > img{
    height: 100%;
    object-fit: cover;
    object-position: 0 50%;
}

.card-link{
    text-decoration: none;
    color: black;
}

.card-link:hover{
    text-decoration: none;
    color: black;
}

.card-link:hover > .card{
    box-shadow: 0 0 0 1px rgb(0 0 0 / 5%), -4px 6px 8px 4px rgb(0 0 0 / 5%), 4px 6px 8px 4px rgb(0 0 0 / 5%);
}

/*======== FOOTER =========*/
footer a.page-link{
    color: var(--dark-blue);
}

footer a.page-link:hover{
    background-color: var(--dark-blue);
    color: var(--yellow);
}

footer .page-item.active .page-link {
    z-index: 0;
    background-color: var(--dark-blue);
    color: var(--yellow);
    border-color: var(--dark-blue);
}

/*======== MANAGE QUIZ =========*/
#list-quiz thead{
    background-color: var(--dark-blue);
}

#list-quiz .btn-edit:hover, #list-quiz .btn-delete:hover{
    background-color: var(--yellow) !important;
    color: var(--dark-blue) !important;
    transform: scale(1.2);
    transition: transform ease .1s;
}

/*======== MANAGE USER =========*/
#list-user-table thead{
    background-color: var(--dark-blue);
}

#list-user-table .btn-disable:hover{
    transform: scale(1.2);
    transition: transform ease .3s;
}

/*======== HISTORY =========*/
.btn-dark-blue{
    background-color: var(--dark-blue);
    color: var(--yellow);
}

.border-rounded{
    border-radius: 30px;
}