<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
    <link rel='stylesheet' type='text/css' th:href='@{/css/hStyle.css}'>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navbar">
        <div class="container fix-width">
            <div class="logo" style="width: 6%;">
                <a class="navbar-brand d-block" href="#"><img
                        src="https://www.memrise.com/hubfs/Memrise%20July%202020/Images/logo_yellow.svg"
                        alt="memrise logo"></a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#userNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="userNavbar">
                <!--ADMIN-->
                <ul class="navbar-nav admin-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white admin" href="#">Manage quiz</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white admin" href="#">Create quiz</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white admin" href="#">Manage user</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Content-->
    <main class="container-fluid">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-8 pt-5" style="height: 300px;">
                <div class="d-flex flex-row my-5">
                    <h3 class="col-4" style="font-family:cursive;font-weight: 900;">QUIZ NAME :</h3>
                    <input name="quiz-name-input" id="quiz-input" type="text" class="col-4 fill-created"
                        placeholder="Please fill quiz name">
                </div>
                <div class="d-flex flex-row my-5">
                    <div class="col-2"></div>
                    <h5 class="col-2" style="font-family:cursive;font-weight: 900;">Tag :</h5>
                    <input name="tag-name-input" id="tag-input" type="text" class="col-4 fill-created"
                        placeholder="Please fill tag name">
                </div>
                <div class="d-flex flex-row my-5">
                    <div class="col-2"></div>
                    <h5 class="col-2" style="font-family:cursive;font-weight: 900;">Picture :</h5>
                    <input type="text" class="col-4 fill-created" id="quiz-name" placeholder="Please choose picture">
                </div>
                <div class=" d-flex justify-content-center mt-4 ml-5 pl-5">
                    <button class="btn-create" onclick="createdQuiz()">Create</button>
                </div>
            </div>
        </div>
    </main>

    <script>
        function createdQuiz() {
            var quizName = $("#quiz-input").val();
            var tagName = $("#tag-input").val();
            var quizCheck = false;
            var tagCheck = false;
            if (quizName.length < 2 && quizName > 50) {
                quizCheck = false;
            } else {
                quizCheck = true;
            }

            if (tagName.length < 1 && tagName > 50) {
                tagCheck = false;
            } else {
                tagCheck = true;
            }
            if (tagCheck && quizCheck) {
                var datas={
                    "quiz_name":quizName,
                    "tag_name":tagName
                }
                console.log(datas);
                $.ajax
                    ({
                        type: "POST",
                        data: JSON.stringify(datas),
                        url: '/final/add-quiz',
                        contentType: 'application/json',
                        success: function (data) {
                            if (data.status == "1") {
                                alert("Add quizz success!");
                                window.location.assign("/final/quest?quiz_name="+quizName);
                            } else if (data.status == "2") {
                                alert("Quizz name already exist!");
                            }else{
                                alert("Add quizz failed!");
                            }
                        }
                    });
            }
        }
    </script>

</body>

</html>