<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Signika:wght@300;400;600&display=swap"
        rel="stylesheet">
    <link rel='stylesheet' href='https://pro.fontawesome.com/releases/v5.10.0/css/all.css'
        integrity='sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p' crossorigin='anonymous' />
    <link rel='stylesheet' type='text/css' th:href='@{/css/tStyle.css?v=1}'>
    <title>Index</title>
</head>

<body>
    <!--NAVBAR-->
    <div th:replace="layout/navbar.html :: navbar"></div>

    <!--CONTENT-->
    <main class="content">
        <div class="container fix-width">
            <!--User's List Quiz in GradeQuiz-->
            <div id="list-quiz" class="row g-2 g-lg-3">
                <div class="col-md-3">
                    <a href="#" class="d-block card-link">
                        <div class="card">
                            <div class="img-area">
                                <img class="card-img-top" th:src="@{images/JavaCupLogo800x800.jfif}" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-center">Java</h5>
                            </div>
                            <div class="grade-bar mb-3 mx-3">
                                <div class="btn-dark-blue px-3 border-rounded" style="width: 100%">50 points</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#" class="d-block card-link">
                        <div class="card">
                            <div class="img-area">
                                <img class="card-img-top" th:src="@{images/Java-Dizibrand.jpg}" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-center">C#</h5>
                            </div>
                            <div class="grade-bar mb-3 mx-3">
                                <div class="btn-dark-blue px-3 border-rounded" style="width: 100%">50 points</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#" class="d-block card-link">
                        <div class="card">
                            <div class="img-area">
                                <img class="card-img-top" th:src="@{images/Java-Dizibrand.jpg}" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-center">.NET</h5>
                            </div>
                            <div class="grade-bar mb-3 mx-3">
                                <div class="btn-dark-blue px-3 border-rounded" style="width: 100%">50 points</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#" class="d-block card-link">
                        <div class="card">
                            <div class="img-area">
                                <img class="card-img-top" th:src="@{images/marguerite-729510__340.jpg}" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-center">Python</h5>
                            </div>
                            <div class="grade-bar mb-3 mx-3">
                                <div class="btn-dark-blue px-3 border-rounded" style="width: 100%">50 points</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#" class="d-block card-link">
                        <div class="card">
                            <div class="img-area">
                                <img class="card-img-top" th:src="@{images/marguerite-729510__340.jpg}" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-center">Django</h5>
                            </div>
                            <div class="grade-bar mb-3 mx-3">
                                <div class="btn-dark-blue px-3 border-rounded" style="width: 100%">50 points</div>
                            </div>
                        </div>
                    </a>
                </div>
                <th:block th:if="${gradequizes}" th:each="gradequiz:${gradequizes}">
                	<div class="col-md-3">
	                    <a href="#" class="d-block card-link">
	                        <div class="card">
	                            <div class="img-area">
	                                <img class="card-img-top" th:src="${gradequiz.quiz.image}" alt="Card image cap">
	                            </div>
	                            <div class="card-body">
	                                <h5 class="card-title text-center" th:text="${gradequiz.quiz.name}"></h5>
	                            </div>
	                            <div class="grade-bar mb-3 mx-3">
	                                <div class="btn-dark-blue px-3 border-rounded" style="width: 100%" th:text="${gradequiz.score} + ' points'"></div>
	                            </div>
	                        </div>
	                    </a>
	                </div>
                </th:block>
            </div>
        </div>
    </main>

    <div th:replace="common/scriptBoostrap.html :: script"></div>
</body>

</html>