<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
	    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Signika:wght@300;400;600;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Signika:wght@300;400;600&display=swap"
	    rel="stylesheet">
	<link rel='stylesheet' href='https://pro.fontawesome.com/releases/v5.10.0/css/all.css'
	    integrity='sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p' crossorigin='anonymous' />
    <link rel='stylesheet' type='text/css' th:href='@{/css/tStyle.css?v=1}'>
    <title>Index</title>
</head>

<body>
    <!--NAVBAR-->
    <div th:replace="layout/navbar.html :: navbar"></div>

    <!--CONTENT-->
    <main class="content">
        <div class="container fix-width">
            <div class="content-actionable row justify-content-between g-2 g-lg-3">
                <div class="col-md-8">
                    <div class="search-quiz-area area bg-white d-flex align-items-center justify-content-center">
                        <form class="form-inline d-flex justify-content-center py-1 px-1" id="search-form">
                            <div class="form-group mr-2">
                                <input class="form-control w-100" name="name" id="keyword"
                                    placeholder="Enter quiz's name" />
                            </div>
                            <div class="form-group">
                                <button class="btn" id="btn-search">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="user-area area d-flex flex-column align-items-center bg-white">
                        <div class="user">
                            <p class="font-weight-bold mb-0" th:text="${loginedUser.userName}"></p>
                        </div>
                        <div class="score-area mt-3 d-flex flex-column align-items-center">
                            <h2 class="mb-0" th:text="${loginedUser.currentScores} + ' points'"></h2>
                            <!--if score < 100 points-->
                            <div class="score-advice" th:if="${loginedUser.currentScores < 100}">You can do it, let's pratice more!</div>
                            <div class="score-advice" th:if="${loginedUser.currentScores >= 100}">You're awesome, let's break new target!</div>
                            <!--if score >= 100 points-->
                            <!--<div class="score-advice">You're awesome, let's break new target!</div>-->
                        </div>
                    </div>
                </div>
            </div>

            <!--List Quiz-->
            <div id="list-quiz" class="row g-2 g-lg-3">
                <div class="col-md-3">
                    <a href="#" class="d-block card-link">
                        <div class="card">
                            <div class="img-area">
                                <img class="card-img-top" th:src="@{images/JavaCupLogo800x800.jfif}" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-center">Card title</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#" class="d-block card-link">
                        <div class="card">
                            <div class="img-area">
                                <img class="card-img-top" th:src="@{images/Java-Dizibrand.jpg}" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-center">Card title</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#" class="d-block card-link">
                        <div class="card">
                            <div class="img-area">
                                <img class="card-img-top" th:src="@{images/Java-Dizibrand.jpg}" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-center">Card title</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#" class="d-block card-link">
                        <div class="card">
                            <div class="img-area">
                                <img class="card-img-top" th:src="@{images/marguerite-729510__340.jpg}" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-center">Card title</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#" class="d-block card-link">
                        <div class="card">
                            <div class="img-area">
                                <img class="card-img-top" th:src="@{images/marguerite-729510__340.jpg}" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-center">Card title</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <th:block th:if="${quizzes}" th:each="quizz:${quizzes}">
                	<div class="col-md-3">
	                    <a href="#" class="d-block card-link">
	                        <div class="card">
	                            <div class="img-area">
	                                <img class="card-img-top" th:src="${quizz.image}" alt="Card image cap">
	                            </div>
	                            <div class="card-body">
	                                <h5 class="card-title text-center" th:text="${quizz.name}"></h5>
	                            </div>
	                        </div>
	                    </a>
	                </div>
                </th:block>
            </div>

            <div th:replace="layout/footer.html :: footer"></div>
        </div>
    </main>

    <div th:replace="common/scriptBoostrap.html :: script"></div>
    <script th:src='@{/js/index.js?v=2}'></script>
</body>

</html>