<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <link rel='stylesheet' type='text/css' th:href='@{/css/login.css}'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css"
        integrity="sha512-xnwMSDv7Nv5JmXb48gKD5ExVOnXAbNpBWVAXTo9BJWRJRygG8nwQI81o5bYe8myc9kiEF/qhMGPjkSsF06hyHA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>

</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-5" style="padding-left: 0%"> <img th:src="@{images/login.jpg}"
                    class="img-fluid float-left rounded-left" alt=""></div>
            <div class="col-lg-7">
                <div class="row mt-5 mb-3 pl-3">
                    <div class="col-lg-4"> <a href="#" class="btn btn-primary account"> <span>Login with Account &nbsp;</span>
                            <i class="fa fa-user"></i> </a> </div>
                    <div class="col-lg-5"> <a href="#" class="btn btn-primary google-plus"> Login with Google  &nbsp;<i
                                class="fa fa-google-plus"></i> </a> </div>
                </div>
                <form class="pl-3 pt-3 border-top border-bottom col-8 needs-validation"  th:action="@{/checkLogin}" method="post"  th:object="${user}" novalidate>
                <div class="row mb-3">
                    <div class="col-lg-12">
                        <h3 style="color: #2b3647;" class="text-center"> OR</h3>
                    </div>
                </div>
                    <div class="form-row">
                        <div class="col-md-12 mb-5">
                            <input type="text" class="form-control" placeholder="Username" th:field="*{username}" pattern=".{8,50}"  required>
                            <div class="invalid-feedback">
                                Username must be longer than 8 characters
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-12 mb-5">
                            <input type="password" class="form-control" placeholder="Password" th:field="*{password}" pattern=".{8,50}"  required>
                            <div class="invalid-feedback">
                                Password must be longer than 8 characters
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 mb-5">
                            <button class="btn btn-primary btn-lg btn-register btn-block" type="submit">Login</button>
                        </div>
                    </div>
                </form>
                <div class="form-row">
                    <div class="col-md-7 mt-2">
                        <p class="hint text-center">Don't have an account? <span><a style="color: mediumblue;" th:href='@{/register}'><u>Register
                                        here</u></a></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }else{
                        	submitForm(event);
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
        
    </script>
    
    <script th:src="@{js/login.js}"></script>
</body>

</html>
