<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
    <link rel='stylesheet' type='text/css' th:href='@{/css/hStyle.css}'>

</head>

<body onload="onLoaded()">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navbar">
        <div class="container fix-width">
            <div class="logo" style="width: 6%;">
                <a class="navbar-brand d-block" href="#"><img
                        src="https://www.memrise.com/hubfs/Memrise%20July%202020/Images/logo_yellow.svg"
                        alt="memrise logo"></a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#userNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="userNavbar">
                <!--ADMIN-->
                <ul class="navbar-nav admin-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white admin" href="#">Manage quiz</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white admin" href="#">Create quiz</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white admin" href="#">Manage user</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Content-->
    <main class="container-fluid">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-8 pt-4" style="height: 300px;">
                <div class="mb-4 mt-0">
                    <h3 class="col-4" style="font-weight: 700;" id="quiz-name" th:text="${quizname}"></h3>
                </div>
                <div class="pl-3">
                    <h4>Update question</h4>
                </div>

                <!--Question Fill-text 1-->
                <div id="fill-text">
                    <div class="form-row mt-4">
                        <h6 class="col-2 mr-2">Question content:</h6>
                        <textarea class="input-quest col-3" id="pre-quest-input0"
                            th:text="${quest.contentQuest}"></textarea>
                        <input class="input-quest-center mx-2" style="width: 60px;" type="text" disabled>
                        <textarea class="input-quest col-3" id="beh-quest-input0"
                            th:text="${quest.contentQuest2}"></textarea>
                    </div>
                    <label id="quest0-error" class="label-err ml-3"></label>
                    <div class="form-row mt-4">
                        <h6 class="col-2 mr-2 ">Answer content:</h6>
                        <input class="input-answer col-7" id="answer-input0" type="text" th:value="${quest.answers}">
                        <label id="answer0-error" class="ml-3"></label>
                    </div>
                </div>
             


                <!--Question Fill-text 2-->
                <div id="only-choose">
                    <div class="form-row mt-4">
                        <h6 class="col-2 mr-2">Question content:</h6>
                        <textarea class="input-quest col-7" rows="3" id="quest-input1"
                            th:text="${quest.contentQuest}"></textarea>
                        <label id="quest1-error" class="ml-3"></label>
                    </div>
                    <div class="form-row mt-4">
                        <h6 class="col-2 mr-2">Answer correct:</h6>
                        <input id="answer-input1" class="input-answer col-7" type="text" th:value="${quest.answers}">
                        <label id="answer1-error" class="ml-3"></label>
                    </div>
                    <!--tu sinh-->
                    <div id="sub-answer">
                        <label id="answer-fake1-error" class="ml-3"></label>
                    </div>
                </div>



                <!--Question Fill-text 3-->
                <div id="multi-choose">
                    <div class="form-row mt-4">
                        <h6 class="col-md-2 mr-2">Question content:</h6>
                        <textarea class="input-quest col-md-7" rows="3" id="quest-input2"
                            th:text="${quest.contentQuest}"></textarea>
                        <label id="quest2-error" class="ml-3"></label>
                    </div>
                    <div class="mt-4">

                    </div>
                    <div id="sub-answer1">
                        <label id="answer-fake2-error" class="ml-3"></label>
                    </div>
                </div>

                <div id="btn-add">
                    <div class=" d-flex justify-content-end my-4 pr-5 mr-5">
                        <button class="btn-create mb-5" onclick="updateQuest()">Update question</button>
                    </div>
                </div>

            </div>
        </div>
    </main>

    <script th:inline="javascript">
        function onLoaded() {
            var type = [[${ quest.type }]];
            var aFake = [[${ quest.answersFake }]];
            var aReal = [[${ quest.answersReal }]];
            var lengthFake = aFake.length;
            var lengthReal = aReal.length;
            if (type == 1) {
                document.getElementById("fill-text").style.display = "block";
                document.getElementById("only-choose").style.display = "none";
                document.getElementById("multi-choose").style.display = "none";
            } else if (type == 2) {
                document.getElementById("fill-text").style.display = "none";
                document.getElementById("only-choose").style.display = "block";
                document.getElementById("multi-choose").style.display = "none";
                var contextSub = $("#sub-answer");

                for (var i = 0; i < lengthFake; i++) {
                    console.log(aFake[i]);
                    contextSub.append('<div class="form-row mt-4"><h6 class="col-md-2 mr-2">'
                        + 'Answer fake' + Number(i + 1) + '</h6><input id="sub-input' + Number(i + 1)
                        + '" class="input-answer col-md-7" type="text" value=' + aFake[i] + '></div>');
                }

            } else {
                document.getElementById("fill-text").style.display = "none";
                document.getElementById("only-choose").style.display = "none";
                document.getElementById("multi-choose").style.display = "block";
                var contextSub = $("#sub-answer1");

                for (var i = 0; i < lengthReal; i++) {
                    contextSub.append('<div class="form-row mt-4"><h6 class="col-md-2 mr-2">'
                        + 'Answer real' + Number(i + 1) + '</h6><input id="correct2-input' + Number(i + 1)
                        + '" class="input-answer col-md-7" type="text" value=' + aReal[i] + '></div>');
                }
                for (var i = 0; i < lengthFake; i++) {
                    contextSub.append('<div class="form-row mt-4"><h6 class="col-md-2 mr-2">'
                        + 'Answer fake' + Number(i + 1) + '</h6><input id="sub2-input' + Number(i + 1)
                        + '" class="input-answer col-md-7" type="text" value=' + aFake[i] + '></div>');
                }
            }

        }
        function updateQuest() {
            var type = [[${ quest.type }]];
            var questId = [[${ quest.id }]];
            var aFake = [[${ quest.answersFake }]];
            var aReal = [[${ quest.answersReal }]];
            var lengthFake = aFake.length;
            var lengthReal = aReal.length;
            if (type == 1) {
                var preQuet = $("#pre-quest-input0").val();
                var behQuest = $("#beh-quest-input0").val();
                var answer0 = $("#answer-input0").val();
                var checkQuest = false;
                var checkAnswer = false;
                if (preQuet.length < 1 && behQuest.length < 1) {
                    checkQuest = false;
                    document.getElementById("quest0-error").innerHTML = "Please fill question content has length >0 and <200 !!!";
                } else {
                    checkQuest = true;
                    document.getElementById("quest0-error").innerHTML = "";
                }
                if (answer0.length < 1 || answer0.length > 50) {
                    checkAnswer = false;
                    document.getElementById("answer0-error").innerHTML = "Please enter the correct length 0< and <50 !!!";
                } else {
                    checkAnswer = true;
                    document.getElementById("answer0-error").innerHTML = "";
                }
                if (checkQuest && checkAnswer) {
                    var questContent = preQuet + "____" + behQuest;
                    var datas = {
                        "id": questId,
                        "question": questContent,
                        "answer": answer0,
                        "list_fake": null,
                        "list_real": null
                    }
                    $.ajax
                        ({
                            type: "POST",
                            data: JSON.stringify(datas),
                            url: '/final/quest/update',
                            contentType: 'application/json',
                            success: function (data) {
                                console.log("success");
                                if (data.status == "1") {
                                    alert("Update quest success!");
                                    window.location.assign("/final/quest?quiz_name=" + quizName);
                                }else {
                                    alert("Update quest failed!");
                                    window.location.assign("/final/quest?quiz_name=" + quizName);
                                }

                            }
                        });
                }

            }
            //TH2
            else if (type == 2) {

                var answers1 = $('#answer-input1').val();
                var questContent1 = $('#quest-input1').val();
                var checkQuest1 = false;
                var checkAnswer1 = false;
                var checkAnswerErrT1 = false;
                var checkAnswerErrF1 = false;

                if (questContent1.length < 1 || questContent1.length > 200) {
                    checkQuest1 = false;
                    document.getElementById("quest1-error").innerHTML = "Please fill question content has length >0 and <200 !!!";
                } else {
                    checkQuest1 = true;
                    document.getElementById("quest1-error").innerHTML = "";
                }
                if (answers1.length < 1 || answers1.length > 50) {
                    checkAnswer1 = false;
                    document.getElementById("answer1-error").innerHTML = "Please enter the correct length 0< and <50 !!!";
                } else {
                    checkAnswer1 = true;
                    document.getElementById("answer1-error").innerHTML = "";
                }
                listSubAnswers = [];
                for (var i = 1; i <= lengthFake; i++) {
                    let answersSub = $('#sub-input' + i).val();
                    if (answersSub.length > 1 && answersSub.length < 50) {
                        checkAnswerErrT1 = true;
                    }
                    if (answersSub.length >= 50) {
                        checkAnswerErrF1 = true;
                    }
                    listSubAnswers.push(answersSub);
                }

                if (checkAnswerErrT1 && !checkAnswerErrF1) {
                    document.getElementById("answer-fake1-error").innerHTML = "";
                } else {
                    document.getElementById("answer-fake1-error").innerHTML = "Please check limit text <50 or fill in at least wrong answer";
                }

                if (checkAnswer1 && checkQuest1 && checkAnswerErrT1 && !checkAnswerErrF1) {
                    datas = {
                        "id": questId,
                        "question": questContent1,
                        "answer": answers1,
                        "list_fake": listSubAnswers,
                        "list_real": null
                    }
                    $.ajax
                        ({
                            type: "POST",
                            data: JSON.stringify(datas),
                            url: '/final/quest/update',
                            contentType: 'application/json',
                            success: function (data) {
                                console.log("success");
                                if (data.status == "1") {
                                    alert("Update quest success!");
                                    window.location.assign("/final/quest?quiz_name=" + quizName);
                                } else {
                                    alert("Update quest failed!");
                                    window.location.assign("/final/quest?quiz_name=" + quizName);
                                }

                            }
                        });
                }

            }
            //TH3
            else {
                var questContent2 = $('#quest-input2').val();
                var checkQuest2 = false;
                var checkAnswerErrT2 = false;
                var checkAnswerErrF2 = false;
                var checkAnswerErrCorrT2 = false;
                var checkAnswerErrCorrF2 = false;
                listSubAnswers = [];
                listCorrectAnswers = [];
                for (var i = 1; i <= lengthFake; i++) {
                    let answersSub = $('#sub2-input' + i).val();
                    if (answersSub.length > 1 && answersSub.length < 50) {
                        checkAnswerErrT2 = true;
                        listSubAnswers.push(answersSub);
                    }
                    if (answersSub.length >= 50||answersSub.length<0) {
                        checkAnswerErrF2 = true;
                    }
                }
                for (var i = 1; i <= lengthReal; i++) {
                    let answersCorreSub = $('#correct2-input' + i).val();
                    if (answersCorreSub.length >1&&answersCorreSub.length<50) {
                        checkAnswerErrCorrT2 = true;
                        listCorrectAnswers.push(answersCorreSub);
                    }
                    if (answersCorreSub.length >= 50||answersCorreSub.length<0) {
                        checkAnswerErrCorrF2 = true;
                    }

                }
                if (questContent2.length < 1 || questContent2.length > 199) {
                    document.getElementById("quest2-error").innerHTML = "Please fill question content has length >0 and <200 !!!";
                    checkQuest2 = false;
                } else {
                    document.getElementById("quest2-error").innerHTML = "";
                    checkQuest2 = true;
                }
                if (checkAnswerErrT2 && !checkAnswerErrF2) {
                    document.getElementById("answer-fake2-error").innerHTML = "";
                } else {
                    document.getElementById("answer-fake2-error").innerHTML = "Please check limit text <50 or fill in at least wrong answer";
                }
                if (checkQuest2 && checkAnswerErrT2 && !checkAnswerErrF2&&checkAnswerErrCorrT2&&!checkAnswerErrCorrF2) {
                    datas = {
                        "id": questId,
                        "question": questContent2,
                        "answer": null,
                        "list_fake": listSubAnswers,
                        "list_real": listCorrectAnswers
                    }
                    $.ajax
                        ({
                            type: "POST",
                            data: JSON.stringify(datas),
                            url: '/final/quest/update',
                            contentType: 'application/json',
                            success: function (data) {
                                console.log("success");
                                if (data.status == "1") {
                                    alert("Update quest success!");
                                    window.location.assign("/final/quest?quiz_name=" + quizName);
                                } else {
                                    alert("Update quest failed!");
                                    window.location.assign("/final/quest?quiz_name=" + quizName);
                                }

                            }
                        });
                }
            }
        }
    </script>

</body>

</html>