<footer class="d-flex justify-content-center" id="footer" th:fragment="footer">
    <nav>
        <ul class="pagination">
            <!-- <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li> -->
            <th:block th:each="page:${#numbers.sequence(1,totalPages)}">
            	<li class="page-item"><a class="page-link" href="#" th:text="${page}"></a></li>
            </th:block>
            <!-- <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li> -->
        </ul>
    </nav>
</footer>