<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navbar">
     <div class="container fix-width">
         <div class="logo" style="width: 6%;">
             <a class="navbar-brand d-block" th:href="@{/index}"><img
                     src="https://www.memrise.com/hubfs/Memrise%20July%202020/Images/logo_yellow.svg"
                     alt="memrise logo"></a>
         </div>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#userNavbar">
             <span class="navbar-toggler-icon"></span>
         </button>

         <div class="collapse navbar-collapse" id="userNavbar">
             <!--ADMIN-->
             <ul class="navbar-nav admin-nav mr-auto">
             	<th:block th:if="${loginedUser.roleName eq 'ROLE_USER'}">
	           		<li class="nav-item">
	                      <a class="nav-link text-white" th:href="@{/get-history-page}">History</a>
	                 </li>
	                 <li class="nav-item">
	                      <a class="nav-link text-white" th:href="@{/rank}">Rank Score</a>
	                 </li>
                 </th:block>
                 
                 <th:block th:if="${loginedUser.roleName eq 'ROLE_ADMIN'}">
	                 <li class="nav-item">
	                     <a class="nav-link text-white admin" th:href="@{/get-manage-quiz-page}">Manage quiz</a>
	                 </li>
	                 <li class="nav-item">
	                     <a class="nav-link text-white admin" th:href="@{/quiz}">Create quiz</a>
	                 </li>
	                 <li class="nav-item">
	                     <a class="nav-link text-white admin" th:href="@{/get-manage-user-page}">Manage user</a>
	                 </li>
                 </th:block>
             </ul>

             <!--USER-->
             <ul class="navbar-nav user-nav ml-auto">
             	<th:block th:if="@{loginedUser == null}">
	                 <li class="nav-item">
	                     <a class="nav-link btn btn-yellow" th:href="@{/}">Login</a>
	                 </li>
	                 <li class="nav-item">
	                     <a class="nav-link btn btn-yellow" th:href="@{/register}">Sign up</a>
	                 </li>
                 </th:block>
                 <th:block th:if="@{loginedUser}">
	                 <li class="nav-item">
	                     <a class="nav-link btn btn-yellow" th:href="@{/logout}">Logout</a>
	                 </li>
                 </th:block>
             </ul>
         </div>
     </div>
 </nav>