<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>CreateQuest</title>
 	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
   	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
        <link rel='stylesheet' type='text/css' th:href='@{/css/hNavStyle.css}'>
    <link rel='stylesheet' type='text/css' th:href='@{/css/hStyle.css}'>
</head>

<body onload="onLoaded()">
    <div th:replace="layout/navbar.html :: navbar"></div>
    <!--Content-->
    <main class="container-fluid">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-8 pt-4" style="height: 300px;">
                <div class="mb-4 mt-0">
                    <h3 class="col-4" style="font-weight: 700;" id="quiz-name" th:text="${quizname}"></h3>
                </div>
                <div class="pl-3">
                    <h4>Add question</h4>
                </div>
                <div class="row mt-4">
                    <select class="col-4 fill-choose" name="select-type" id="selectType">
                        <option value="nope">Please choose type quest</option>
                        <option value="text-type">Fill text</option>
                        <option value="only-type">Only answer</option>
                        <option value="multi-type">Mutil answer</option>
                    </select>
                </div>

                <!--Question Fill-text 1-->
                <div id="fill-text">

                    <div class="form-row mt-4">
                        <h6 class="col-2 mr-2">Question content:</h6>
                        <textarea class="input-quest col-3" id="pre-quest-input0"></textarea>
                        <input class="input-quest-center mx-2" style="width: 60px;" type="text" disabled>
                        <textarea class="input-quest col-3" id="beh-quest-input0"></textarea>
                    </div>
                    <label id="quest0-error" class="label-err ml-3"></label>
                    <div class="form-row mt-4">
                        <h6 class="col-2 mr-2 ">Answer content:</h6>
                        <input class="input-answer col-7" id="answer-input0" type="text">
                        <label id="answer0-error" class="ml-3"></label>
                    </div>
                </div>

                <!--Question Fill-text 2-->
                <div id="only-choose">
                    <div class="form-row mt-4">
                        <h6 class="col-2 mr-2">Question content:</h6>
                        <textarea class="input-quest col-7" rows="3" id="quest-input1"></textarea>
                        <label id="quest1-error" class="ml-3"></label>
                    </div>
                    <div class="mt-4">
                        <button class="btn-add-answer" onclick="addSubAnswer()">Add sub answer </button>
                    </div>  
                    <div class="form-row mt-4">
                        <h6 class="col-2 mr-2">Answer correct:</h6>
                        <input id="answer-input1" class="input-answer col-7" type="text">
                        <label id="answer1-error" class="ml-3"></label>
                    </div>
                    <div id="sub-answer">
                        <label id="answer-fake1-error" class="ml-3"></label>
                    </div>
                </div>

                <!--Question Fill-text 3-->
                <div id="multi-choose">
                    <div class="form-row mt-4">
                        <h6 class="col-2 mr-2">Question content:</h6>
                        <textarea class="input-quest col-7" rows="3" id="quest-input2"></textarea>
                        <label id="quest2-error" class="ml-3"></label>
                    </div>
                    <div class="mt-4">
                        <button class="btn-add-answer mr-3" onclick="addCorrectAnswer1()">Add correct answer </button>
                        <button class="btn-add-answer ml-2" onclick="addSubAnswer1()">Add sub answer </button>
                    </div>
                    <div class="mt-4">

                    </div>
                    <div class="form-row mt-4">
                        <h6 class="col-2 mr-2">Answer correct 1:</h6>
                        <input class="input-answer col-7" id="answer2-input" type="text">
                        <label id="answer2-error" class="ml-3"></label>
                    </div>
                    <div id="sub-answer1">
                        <label id="answer-fake2-error" class="ml-3"></label>
                    </div>
                </div>

                <div id="btn-add">
                    <div class=" d-flex justify-content-end my-4 pr-5 mr-5">
                        <button class="btn-create mb-5" onclick="addQuest()">Add question</button>
                    </div>
                </div>

            </div>
        </div>
    </main>

    <script>
        function onLoaded() {
            document.getElementById("fill-text").style.display = "none";
            document.getElementById("only-choose").style.display = "none";
            document.getElementById("multi-choose").style.display = "none";
            document.getElementById("btn-add").style.display = "none";
        }
        //only
        function addSubAnswer() {
            var tempId = Number(1);
            if (localStorage.getItem("tempId") != null) {
                tempId = Number(localStorage.getItem("tempId")) + Number(1);
                localStorage.setItem("tempId", tempId);
            } else {
                localStorage.setItem("tempId", tempId);
            }
            var contextSub = $("#sub-answer");
            contextSub.append('<div class="form-row mt-4"><h6 class="col-2 mr-2">' + 'Answer sub ' + tempId + '</h6><input id="sub-input' + tempId + '" class="input-answer col-7" type="text"></div>');
        }

        //multi
        function addSubAnswer1() {
            var tempId = Number(1);
            if (localStorage.getItem("tempId") != null) {
                tempId = Number(localStorage.getItem("tempId")) + Number(1);
                localStorage.setItem("tempId", tempId);
            } else {
                localStorage.setItem("tempId", tempId);
            }
            var contextSub = $("#sub-answer1");
            contextSub.append('<div class="form-row mt-4"><h6 class="col-2 mr-2">' + 'Answer sub ' + tempId + '</h6><input id="sub2-input' + tempId + '" class="input-answer col-7" type="text"></div>');
        }
        function addCorrectAnswer1() {
            var tempCorrectId = Number(2);
            if (localStorage.getItem("tempCorrectId") != null) {
                tempCorrectId = Number(localStorage.getItem("tempCorrectId")) + Number(1);
                localStorage.setItem("tempCorrectId", tempCorrectId);
            } else {
                localStorage.setItem("tempCorrectId", tempCorrectId);
            }
            var contextSub = $("#sub-answer1");
            console.log(tempCorrectId);
            contextSub.append('<div class="form-row mt-4"><h6 class="col-2 mr-2">' + 'Answer correct ' + tempCorrectId + '</h6><input id="correct2-input' + tempCorrectId + '" class="input-answer col-7" type="text"></div>');
        }

        function addQuest() {
            var typeQuest = localStorage.getItem("chooseType");
            var quizName = $("#quiz-name").text();
            //fill
            if (typeQuest == 0) {
                var preQuet = $("#pre-quest-input0").val();
                var behQuest = $("#beh-quest-input0").val();
                var answer0 = $("#answer-input0").val();
                var checkQuest = false;
                var checkAnswer = false;
                if (preQuet.length < 1 && behQuest.length < 1) {
                    checkQuest = false;
                    document.getElementById("quest0-error").innerHTML = "Please fill question content has length >0 and <200 !!!";
                } else {
                    checkQuest = true;
                    document.getElementById("quest0-error").innerHTML = "";
                }
                if (answer0.length < 1 || answer0.length > 50) {
                    checkAnswer = false;
                    document.getElementById("answer0-error").innerHTML = "Please enter the correct length 0< and <50 !!!";
                } else {
                    checkAnswer = true;
                    document.getElementById("answer0-error").innerHTML = "";
                }
                if (checkQuest && checkAnswer) {
                    var questContent = preQuet + "____" + behQuest;
                    var datas = {
                        "quiz_name": quizName,
                        "question": questContent,
                        "answer": answer0,
                        "list_fake": null,
                        "list_real": null
                    }
                    localStorage.removeItem("tempId");
                    $.ajax
                        ({
                            type: "POST",
                            data: JSON.stringify(datas),
                            url: '/final/quest/add',
                            contentType: 'application/json',
                            success: function (data) {
                                console.log("success");
                                if (data.status == "1") {
                                    alert("Add quest success!");
                                    window.location.assign("/final/quest?quiz_name=" + quizName);
                                } else if (data.status == "2") {
                                    alert("Quest already exist!");
                                    window.location.assign("/final/quest?quiz_name=" + quizName);
                                } else {
                                    alert("Add quest failed!");
                                    window.location.assign("/final/quest?quiz_name=" + quizName);
                                }

                            }
                        });
                }
            }
            //only
            else if (typeQuest == 1) {
                var answers1 = $('#answer-input1').val();
                var questContent1 = $('#quest-input1').val();
                var checkQuest1 = false;
                var checkAnswer1 = false;
                var checkAnswerErrT1 = false;
                var checkAnswerErrF1 = false;

                if (questContent1.length < 1 || questContent1.length > 200) {
                    checkQuest1 = false;
                    document.getElementById("quest1-error").innerHTML = "Please fill question content has length >0 and <200 !!!";
                } else {
                    checkQuest1 = true;
                    document.getElementById("quest1-error").innerHTML = "";
                }
                if (answers1.length < 1 || answers1.length > 50) {
                    checkAnswer1 = false;
                    document.getElementById("answer1-error").innerHTML = "Please enter the correct length 0< and <50 !!!";
                } else {
                    checkAnswer1 = true;
                    document.getElementById("answer1-error").innerHTML = "";
                }
                listSubAnswers = [];
                let indexAn = localStorage.getItem("tempId");
               
                console.log(indexAn);
                for (var i = 1; i <= indexAn; i++) {
                    let answersSub = $('#sub-input' + i).val();
                    console.log(answersSub);
                    if (answersSub.toString().length > 1 && answersSub.toString().length < 50) {
                        console.log(3);
                        checkAnswerErrT1 = true;
                    }
                    if (answersSub.length >= 50) {
                        console.log(4);
                        checkAnswerErrF1 = true;
                    }
                    listSubAnswers.push(answersSub);
                }

                if (checkAnswerErrT1 && !checkAnswerErrF1) {
                    document.getElementById("answer-fake1-error").innerHTML = "";
                } else {
                    document.getElementById("answer-fake1-error").innerHTML = "Please check limit text <50 or fill in at least wrong answer";
                }
                if (checkAnswer1 && checkQuest1 && checkAnswerErrT1 && !checkAnswerErrF1) {
                    datas = {
                        "quiz_name": quizName,
                        "question": questContent1,
                        "answer": answers1,
                        "list_fake": listSubAnswers,
                        "list_real": null
                    }
                    $.ajax
                        ({
                            type: "POST",
                            data: JSON.stringify(datas),
                            url: '/final/quest/add',
                            contentType: 'application/json',
                            success: function (data) {
                                console.log("success");
                                if (data.status == "1") {
                                    alert("Add quest success!");
                                    localStorage.removeItem("tempId");
                                    window.location.assign("/final/quest?quiz_name=" + quizName);
                                } else if (data.status == "2") {
                                    alert("Quest already exist!");
                                    window.location.assign("/final/quest?quiz_name=" + quizName);
                                } else {
                                    alert("Add quest failed!");
                                    window.location.assign("/final/quest?quiz_name=" + quizName);
                                }

                            }
                        });
                }
            }
            //multi
            else if (typeQuest == 2) {
                var questContent2 = $('#quest-input2').val();
                var answers2 = $('#answer2-input').val();
                var checkQuest2 = false;
                var checkAnswer2 = false;
                var checkAnswerErrT2 = false;
                var checkAnswerErrF2 = false;
                let indexAn = localStorage.getItem("tempId");
                let indexCorrAn = localStorage.getItem("tempCorrectId");
               
                listSubAnswers = [];
                listCorrectAnswers = [];
                listCorrectAnswers.push(answers2);
                for (var i = 1; i <= indexAn; i++) {
                    let answersSub = $('#sub2-input' + i).val();
                    if (answersSub.length > 1 && answersSub.length < 50) {
                        checkAnswerErrT2 = true;
                    }
                    if (answersSub.length >= 50) {
                        checkAnswerErrF2 = true;
                    }
                    listSubAnswers.push(answersSub);
                }
                for (var i = 2; i <= indexCorrAn; i++) {
                    let answersCorreSub = $('#correct2-input' + i).val();
                    if (answersCorreSub.length >= 50) {
                        checkAnswerErrF2 = true;
                    }
                    listCorrectAnswers.push(answersCorreSub);
                }
                if (questContent2.length < 1 || questContent2.length > 199) {
                    document.getElementById("quest2-error").innerHTML = "Please fill question content has length >0 and <200 !!!";
                    checkQuest2 = false;
                } else {
                    document.getElementById("quest2-error").innerHTML = "";
                    checkQuest2 = true;
                }
                if (answers2.length < 1 || answers2.length > 50) {
                    document.getElementById("answer2-error").innerHTML = "Please fill answer content has length >0 and <50 !!!";
                    checkAnswer2 = false;
                } else {
                    document.getElementById("answer2-error").innerHTML = "";
                    checkAnswer2 = true;
                }
                if (checkAnswerErrT2 && !checkAnswerErrF2) {
                    document.getElementById("answer-fake2-error").innerHTML = "";
                } else {
                    document.getElementById("answer-fake2-error").innerHTML = "Please check limit text <50 or fill in at least wrong answer";
                }
                console.log(checkQuest2);
                console.log(checkAnswer2);
                console.log(checkAnswerErrT2);
                console.log(checkAnswerErrF2);
                if (checkQuest2 && checkAnswer2 && checkAnswerErrT2 && !checkAnswerErrF2) {
                    datas = {
                        "quiz_name": quizName,
                        "question": questContent2,
                        "answer": null,
                        "list_fake": listSubAnswers,
                        "list_real": listCorrectAnswers
                    }
                    console.log("hihi");
                    $.ajax
                        ({
                            type: "POST",
                            data: JSON.stringify(datas),
                            url: '/final/quest/add',
                            contentType: 'application/json',
                            success: function (data) {
                                console.log("success");
                                if (data.status == "1") {
                                    alert("Add quest success!");
                                    localStorage.removeItem("tempId");
                                    localStorage.removeItem("tempCorrectId");
                                    window.location.assign("/final/quest?quiz_name=" + quizName);
                                } else if (data.status == "2") {
                                    alert("Quest already exist!");
                                    window.location.assign("/final/quest?quiz_name=" + quizName);
                                } else {
                                    alert("Add quest failed!");
                                    window.location.assign("/final/quest?quiz_name=" + quizName);
                                }

                            }
                        });
                }

            }
        }

        $("select[name=select-type]").change(function () {
            var previous = this.value;
            if (previous === "text-type") {
                localStorage.setItem("chooseType", 0)
                document.getElementById("fill-text").style.display = "block";
                document.getElementById("only-choose").style.display = "none";
                document.getElementById("multi-choose").style.display = "none";
                document.getElementById("btn-add").style.display = "block";
            } else if (previous === "only-type") {
                localStorage.setItem("chooseType", 1)
                document.getElementById("fill-text").style.display = "none";
                document.getElementById("only-choose").style.display = "block";
                document.getElementById("multi-choose").style.display = "none";
                document.getElementById("btn-add").style.display = "block";
            } else if (previous === "multi-type") {
                localStorage.setItem("chooseType", 2)
                document.getElementById("fill-text").style.display = "none";
                document.getElementById("only-choose").style.display = "none";
                document.getElementById("multi-choose").style.display = "block";
                document.getElementById("btn-add").style.display = "block";
            } else {
                document.getElementById("fill-text").style.display = "none";
                document.getElementById("only-choose").style.display = "none";
                document.getElementById("multi-choose").style.display = "none";
                document.getElementById("btn-add").style.display = "none";
            }
        });
    </script>


</body>

</html>