<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
    <link rel='stylesheet' type='text/css' th:href='@{/css/hStyle.css}'>
    <link rel='stylesheet' type='text/css' th:href='@{/css/hNavStyle.css}'>

</head>

<body>
    <div th:replace="layout/navbar.html :: navbar"></div>
    <!--Content-->
    <main class="container-fluid">
        <div class="row">
            <div class="col-2">
            </div>
            <form id="formCreat" class="col-8 pt-5" style="height: 300px;" th:action="@{/add-quiz}" method="post"
                th:object="${quizz}">
                <div class="d-flex flex-row my-5">
                    <h3 class="col-4" style="font-family:cursive;font-weight: 900;">QUIZ NAME :</h3>
                    <input name="quiz-name-input" id="quiz-input" type="text" class="col-4 fill-created"
                        placeholder="Please fill quiz name" th:field="*{quizName}">
                </div>
                <div class="d-flex flex-row my-5">
                    <div class="col-2"></div>
                    <h5 class="col-2" style="font-family:cursive;font-weight: 900;">Tag :</h5>
                    <input name="tag-name-input" id="tag-input" type="text" class="col-4 fill-created"
                        placeholder="Please fill tag name" th:field="*{tagName}">
                </div>
                <div class="d-flex flex-row my-5">
                    <div class="col-2"></div>
                    <h5 class="col-2" style="font-family:cursive;font-weight: 900;">Picture :</h5>
                    <input type="file" class="col-4 fill-created" id="image" placeholder="Please choose picture"
                    th:field="*{image}">
                </div>
                <div class=" d-flex justify-content-center mt-4 ml-5 pl-5">
                    <button type="submit" class="btn-create" id="btn-submit">Create</button>
                </div>
            </form>
        </div>
    </main>

    <script>
        $("#formCreat").submit(function (e) {
            e.preventDefault();
            var quizName = $("#quiz-input").val();
            var tagName = $("#tag-input").val();
            var image = $("#image")[0].files[0];
            var formImage = $("#image")[0];
            console.log(image);
            var quizCheck = false;
            var tagCheck = false;
            if (quizName.length < 2 && quizName > 50) {
                quizCheck = false;
            } else {
                quizCheck = true;
            }

            if (tagName.length < 1 && tagName > 50) {
                tagCheck = false;
            } else {
                tagCheck = true;
            }
            if (tagCheck && quizCheck) {
                var datas = {
                    "quizName": quizName,
                    "tagName": tagName
                }
                console.log(datas);
                var datas = new FormData();
                datas.append("image",image);
                datas.append("quizName",quizName);
                datas.append("tagName",tagName);
                $.ajax
                    ({
                        type: "POST",
                        enctype: 'multipart/form-data',
                        data: datas,
                        url: '/final/add-quiz',
                        processData: false,
                        contentType: false,
                        cache: false,   
                        success: function (data) {
                            if (data.status == "1") {
                                alert("Add quizz success!");
                                window.location.assign("/final/quest?quiz_name=" + quizName);
                            } else if (data.status == "2") {
                                alert("Quizz name already exist!");
                            } else {
                                alert("Add quizz failed!");
                            }
                        }
                    });
            }
        });
    </script>

</body>

</html>