<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Signika:wght@300;400;600&display=swap"
        rel="stylesheet">
    <link rel='stylesheet' href='https://pro.fontawesome.com/releases/v5.10.0/css/all.css'
        integrity='sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p' crossorigin='anonymous' />
    <link rel='stylesheet' type='text/css' th:href='@{/css/tStyle.css?v=1}'>
    <title>Manage User</title>
</head>

<body>
    <!--NAVBAR-->
    <div th:replace="layout/navbar.html :: navbar"></div>

    <!--CONTENT-->
    <main class="content">
        <div class="container fix-width">
        	<!-- ALERT -->
			<div class="alert alert-danger d-none" id="alert" role="alert">
			</div>
			
            <!--List User Table-->
            <div class="content" id="list-user">
                <h2 id="manage-title">Manage User</h2>
                <table class="table table-striped" id="list-user-table">
                    <thead class="text-white">
                        <tr>
                            <th scope="col" style="width: 30%;">Username</th>
                            <th scope="col" style="width: 30%;">Email</th>
                            <th scope="col" style="width: 20%;">Status</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                        <tr>
                            <td>
                                <input name="name" id="search-name" placeholder="Enter username" class="w-100 form-control" style="padding: 5px; font-size: 1.3rem;"/>
                            </td>
                            <td></td>
                            <td>	
                    			<select id="search-status" class="w-100 form-control" style="padding: 7px; font-size: 1.3rem;">
                    				<option value="">All</option>
                    				<option value="1">Active</option>
                    				<option value="0">Inactive</option>
                    			</select>
                    		</td>
                            <td></td>
                        </tr>
                        <th:block th:if="${users}" th:each="user:${users}">
                        	<tr class="data" th:data-id="${user.id}" th:id="${user.id}">
	                            <td class="font-weight-normal" th:text="${user.userName}"></td>
	                            <td th:text="${user.email}"></td>
	                            <!--status=true-->
	                            <td th:utext="${user.status == 1?'Active':'Inactive'}"></td>
	                            <td>
	                            	<button class="px-1 mr-1 border-0 rounded btn btn-info btn-active" th:data-id="${user.id}">Active</button>
	                                <button class="px-1 border-0 rounded btn btn-danger btn-disable" th:data-id="${user.id}">Disable</button>
	                            </td>
	                        </tr>
                        </th:block>
                    </tbody>
                </table>
            </div>
            
            <div th:replace="layout/footer.html :: footer"></div>
        </div>
    </main>

    <div th:replace="common/scriptBoostrap.html :: script"></div>
    <script th:src="@{js/manageuser.js?v=1}"></script>
</body>

</html>