<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>CreateQuest</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body onload="onLoaded()">
    <div th:replace="layout/navbar.html :: navbar"></div>
    <!--List Quiz Table-->
    <div class="container-fluid row" id="list-quiz">
        <div class="col-1">

        </div>
        <div class="col-10">
            <h2 id="manage-title" th:text="${quizzName}"></h2>
            <div class="row ml-1">
                <input name="name" id="search-name" placeholder="Enter quest's name" class="form-control my-3 mr-2"
                    style="width: 30%;" />
                <button type="button" class="btn btn-warning my-3" onclick="onSearch()">search</button>
            </div>
            <table class="table table-striped" id="list-quest-table">
                <thead class="table-warning">
                    <tr>
                        <th scope="col" style="width:10%">No</th>
                        <th scope="col" style="width:60%">Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    <th:block th:if="${listQuest}" th:each="quest,iterStat :  ${listQuest}">
                        <tr class="data" th:data-id="${quest.id}" th:id="${quest.id}">
                            <td th:text="${iterStat.count}"></td>
                            <td th:text="${quest.content}"></td>
                            <td th:text="${quest.type}"></td>
                            <td>
                                <button class="btn btn-info" th:data-id="${quest.id}" th:id="${quest.id}"
                                    onclick="onEdit(this.id)">Edit</button>
                                <button class="btn btn-danger btn-delete open-delete-dialog" th:data-id="${quest.id}"
                                    th:id=${quest.id} data-toggle="modal" data-target="#exampleModal">Delete</button>
                            </td>
                        </tr>
                    </th:block>
                </tbody>
            </table>

            <nav aria-label="Page navigation example">
                <ul class="pagination" id="pagina">
                </ul>
            </nav>
        </div>

    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confim</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Do you want delete this?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="btn-delete">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <script>
         

        function onSearch(){
            var quizId = "[[${quizzId}]]";
            var quiName = "[[${quizzName}]]";
            var textSearch= $("#search-name").val();
            console.log(textSearch);
            window.location.assign("/final/" + quizId + "/get-all-quest-by-name?quizz-name=" + quiName+"&text-search="+textSearch);
        }

        function onLoaded() {
            var tempPagination = [[${ pagina }]];
            var page = [[${ page }]];
            var quiName = "[[${quizzName}]]";
            var quizId = "[[${quizzId}]]";
            var panigationClass = $("#pagina");
            for (var i = 1; i <= tempPagination; i++) {
                if ((i - 1) === page) {
                    panigationClass.append('<li class="page-item"><a class="page-link page-select" th:href="">' + i + '</a></li>');
                } else {
                    var index = i - 1;
                    panigationClass.append('<li class="page-item"><a class="page-link" th:href="" onclick="onClickPage(' + index + ')">' + i + '</a></li>');
                }
            }
        }

        function onClickPage(index) {
            var quiName = "[[${quizzName}]]";
            var quizId = "[[${quizzId}]]";
            window.location.assign("/final/" + quizId + "/get-all-quest?page-number=" + index + "&quizz-name=" + quiName);
        }

        $(document).on('click', '.open-delete-dialog', function () {
            var id = $(this).data('id');
            $('#btn-delete').attr('value', id);
        });
        function onEdit(id) {
            var quiName = "[[${quizzName}]]";
            console.log(quiName);
            window.location.assign("/final/" + id + "/detail?quizz_name=" + quiName);
        }
        $("#btn-delete").click(function () {
            var id = $("#btn-delete").val();
            var quiName = "[[${quizzName}]]";
            var quizId = "[[${quizzId}]]";
            $.ajax
                ({
                    type: "DELETE",
                    url: '/final/quest/' + id + '/delete',
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.status == "1") {
                            alert("Delete quest success!");
                            window.location.assign("/final/" + quizId + "/get-all-quest?quizz-name=" + quiName);
                        } else {
                            alert("Delete quest failed!");
                            window.location.assign("/final/" + quizId + "/get-all-quest?quizz-name=" + quiName);
                        }
                    }
                });
        })
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
        <link rel='stylesheet' type='text/css' th:href='@{/css/hNavStyle.css}'>
    <link rel='stylesheet' type='text/css' th:href='@{/css/hStyle.css}'>
</body>

</html>