<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Signika:wght@300;400;600&display=swap"
        rel="stylesheet">
    <link rel='stylesheet' href='https://pro.fontawesome.com/releases/v5.10.0/css/all.css'
        integrity='sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p' crossorigin='anonymous' />
    <link rel='stylesheet' type='text/css' th:href='@{/css/tStyle.css}'>
    <title>Manage quiz</title>
</head>

<body>
    <!--NAVBAR-->
    <div th:replace="layout/navbar.html :: navbar"></div>

    <!--CONTENT-->
    <main class="content">
        <div class="container fix-width">
        	<!-- ALERT -->
			<div class="alert alert-danger d-none" id="alert" role="alert">
			</div>
			
            <!--List Quiz Table-->
            <div class="content" id="list-quiz">
                <h2 id="manage-title">Manage Quiz</h2>
                <table class="table table-striped" id="list-quiz-table">
                    <thead class="text-white">
                        <tr>
                            <th scope="col" style="width:40%">Name</th>
                            <!--<th scope="col">Status</th>-->
                            <th scope="col">Created Date</th>
                            <th scope="col">Updated Date</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                        <tr>
                            <td>
                                <input name="name" id="search-name" placeholder="Enter quiz's name" class="w-100 form-control search-name" style="padding: 5px; font-size: 1.3rem;"/>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <th:block th:if="${quizzes}" th:each="quizz:${quizzes}">
                        	<tr class="data" th:data-id="${quizz.id}" th:id="${quizz.id}">
	                            <td><a th:href="@{/}+${quizz.id}+'/get-all-quest'" th:text="${quizz.name}"></a></td>
	                            <td th:text="${#dates.format(quizz.createdDate, 'dd/MM/yyyy')}"></td>
	                            <td th:text="${#dates.format(quizz.updatedDate, 'dd/MM/yyyy')}"></td>
	                            <td>
	                                <button class="px-1 border-0 rounded bg-danger text-white btn-delete" th:data-id="${quizz.id}">Delete</button>
	                            </td>
	                        </tr>
                        </th:block>
                    </tbody>
                </table>
            </div>
            
            <div th:replace="layout/footer.html :: footer"></div>
        </div>
    </main>

    <div th:replace="common/scriptBoostrap.html :: script"></div>
    <script th:src="@{/js/managequiz.js?v=2}"></script>

</body>

</html>