<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
	integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
	crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel='stylesheet'
	href='https://pro.fontawesome.com/releases/v5.10.0/css/all.css'
	integrity='sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p'
	crossorigin='anonymous' />
<link rel='stylesheet' type='text/css' th:href='@{/css/tStyle.css?v=2}'>
<link rel='stylesheet' type='text/css' th:href='@{/css/rank.css}'>
<title>Rank</title>
</head>

<body>
	 <!--NAVBAR-->
    <div th:replace="layout/navbar.html :: navbar"></div>


	<!--CONTENT-->
	<main class="content">
		<div class="container fix-width">
			<!--List Quiz Table-->
			<div class="content">
				<table class="table mx-auto">
					<tr>
						<th class="col-tb-10"><h1
								class="text-center mt-5 mb-5 float-left"
								style="font-weight: 500;">TOP SCORE</h1></th>
					</tr>
				</table>


				<table class="table mx-auto table-bordered">
					<thead class="thead-tb pt-5 pb-5">
						<tr>
							<th class="col-tb-10 font-weight-light pl-4">Position</th>
							<th class="col-tb-55 font-weight-light">Player</th>
							<th class="col-tb-30 font-weight-light">Point</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="user,iter :${users}">
							<tr>
								<td class="alert pr-4 pl-4"><span
									th:text="|${iter.index +1}.|"></span> <i
									class="fas fa-star float-right" style="color: #ffc000;">
								<td class="alert"><i class="fas fa-user mr-3"
									style="color: #99b19c;"></i> <span
									th:text="|${user.lastName} (${user.userName})|"></span></td>
								<td class="alert"
									th:text="${user.currentScores != null} ? ${user.currentScores} : 0"></td>
							</tr>
						</th:block>
					</tbody>
				</table>
			</div>
		</div>
	</main>

	<footer class="d-flex justify-content-center" id="footer">
		<nav>
			<ul class="pagination">
				<th:block th:each="pageFor:${#numbers.sequence(1,totalPage)}">

					<span th:if="${pageFor == page}">
						<li class="page-item  active"><a class="page-link"
							th:href='@{|/rank?page=${pageFor}|}' th:text="${pageFor}"></a></li>
					</span>
					<span th:unless="${pageFor == page}">
						<li class="page-item"><a class="page-link"
							th:href='@{|/rank?page=${pageFor}|}' th:text="${pageFor}"></a></li>
					</span>

				</th:block>
			</ul>
		</nav>
	</footer>
</body>

</html>
