<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel='stylesheet' type='text/css' th:href='@{/css/login.css}'>
<title>Document</title>
</head>

<body>
	<div class="container mt-5">
		<div class="row">
			<div class="col-lg-5" style="padding-left: 0%">
				<img th:src="@{images/login.jpg}"
					class="img-fluid float-left rounded-left" alt="">
			</div>
			<div class="col-lg-7">
				<form class="needs-validation" novalidate id="form">
					<div class="form-row mt-3 mb-4">
						<h1 style="color: #2b3647;">Register</h1>
					</div>
					<div class="form-row">
						<div class="col-md-5 mb-4">
							<label for="validationCustom01">First name</label> <input
								type="text" class="form-control" placeholder="First name"
								name="firstName" required>
							<div class="invalid-feedback">Please provide a valid first
								name.</div>
						</div>
						<div class="col-md-5 mb-4 ml-2">
							<label for="validationCustom02">Last name</label> <input
								type="text" class="form-control" placeholder="Last name"
								name="lastName" required>
							<div class="invalid-feedback">Please provide a valid last
								name.</div>
						</div>
					</div>
					<div class="form-row">
						<div class="col-md-10 mb-4">
							<label for="validationCustom03">Email</label> <input type="email"
								class="form-control" placeholder="Email" name="email" required>
							<div class="invalid-feedback">Emails should match</div>
						</div>
					</div>
					<div class="form-row">
						<div class="col-md-5 mb-4">
							<label for="validationCustom03">Username</label> <input
								type="text" class="form-control" placeholder="Username"
								name="userName" pattern=".{8,50}"    required>
							<div class="invalid-feedback">Username must be longer than
								8 and less than 50 characters</div>
						</div>
						<div class="col-md-5 mb-4 ml-2">
							<label for="validationCustom03">Password</label> <input
								type="password" class="form-control" placeholder="Password"
								name="password" pattern=".{8,50}" required>
							<div class="invalid-feedback">Password must be longer than
								8 and less than 50 characters</div>
						</div>
					</div>

					<div class="form-row">
						<div class="col-md-10 mb-4">
							<button class="btn btn-primary btn-lg btn-register btn-block"
								id="btnSubmit" type="submit">Register</button>
						</div>
					</div>
					<div class="form-row">
						<a style="color: mediumblue;" th:href='@{/}'><u>Click
								here to login</u></a>
					</div>
				</form>
			</div>
		</div>


		</form>
		<!-- Content here -->
	</div>


	<script>
		(function() {
			'use strict';
			window.addEventListener('load',
					function() {
						// Fetch all the forms we want to apply custom Bootstrap validation styles to
						var forms = document
								.getElementsByClassName('needs-validation');
						// Loop over them and prevent submission
						var validation = Array.prototype.filter.call(forms,
								function(form) {
									form.addEventListener('submit', function(
											event) {
										if (form.checkValidity() === false) {
											event.preventDefault();
											event.stopPropagation();
										}else{
											submitForm(event);
										}
										form.classList.add('was-validated');
									}, false);
								});
					}, false);
		})();
	</script>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.8/jquery.validate.js" type="text/javascript"></script>
	<script th:src="@{js/register.js?v=2}"></script>
</body>

</html>
